body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;

  width: 100%;
  color: #ffdf2c;
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}
h1 {
  margin-right: auto;
  font-size: 66px;
  font-style: italic;
  color: #c3ccd1;
}

h2 {
  margin-right: auto;
  font-style: italic;
  font-size: 48px;
  color: #afbdc7;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 2px solid #3498db;
  padding: 60px;
  border-radius: 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  background: rgb(199, 251, 63);
  background: radial-gradient(
    circle,
    rgba(199, 251, 63, 0.2945553221288515) 0%,
    rgba(64, 177, 245, 0.22452731092436973) 100%
  );
  gap: 20px;
}

form:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

label {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #eef7fc;
}

input {
  padding: 16px;
  margin-bottom: 24px;
  font-size: 18px;
  border: 1px solid #3498db;
  color: aqua;
  border-radius: 5px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus {
  border-color: #3498db;
  background-color: #18b960;
}

button {
  padding: 16px;
  font-size: 18px;
  background: rgb(199, 251, 63);
  background: radial-gradient(
    circle,
    rgba(199, 251, 63, 0.5) 0%,
    rgba(64, 177, 245, 0.5) 100%
  );
  color: #ffd4d4;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

ul {
  list-style: square;
  padding: 0;
}

li {
  margin-bottom: 12px;
  font-size: 24px;
  padding-bottom: 8px;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
  color: #c3ccd1;
}

li:last-child {
  border-bottom: none;
}

.deleteButton {
  margin-left: 20px;
  border-radius: 32px;
}

.logaut {
  width: 300px;
  background: rgb(34, 105, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 105, 195, 0.8) 0%,
    rgba(45, 253, 121, 0.8) 100%
  );
  margin: auto;
  border-radius: 35px;
  text-align: center;
  color: #d4eaf5;
}
.homecontainer {
  background-color: #18b960;
}
.hometext {
  background-color: #18b960;
}
.Home {
  background-color: #18b960;
}
